<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css">

    <title>Prueba</title>
</head>
<body>

    <div class="container prueba">
      <h1>Hola mundo</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, corrupti.</p>
    </div>

    <script type = "text/javascript" src = "../Bootstrap/js/bootstrap.min.js"></script>
    <script type = "text/javascript" src = "../styles/jquery.js"></script>

</body>
</html>